* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

:root {
  --lightGreen50: #06bf7b;
  --darkGreen50: #038c5a;
  --darkGrenn100: #115930;

  --lightYellow: #f2b138;
  --Yellow: #d9cc1a;
}
body,
html {
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(
    -45deg,
    var(--Yellow),
    #038c5a,
    var(--lightGreen50),
    #038c5a,
    var(--Yellow)
  );
}
div#container {
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 380px;
  height: max-content;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.411);
}
div#register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.block {
  display: block;
}
.block h1 {
  color: var(--Yellow);
}
#line {
  width: 90%;
  height: 1px;
  background-color: rgb(153, 153, 153);
}
div#name-box {
  margin: 15px;
}
div#email-box {
  margin: 15px;
}
div#password-box {
  margin: 15px;
  position: relative;
}

#eye {
  display: flex;
  align-items: center;
  position: absolute;
  right: 5px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  border-left: 1px solid var(--darkGreen50);
  padding-left: 5px;
  height: 39px;
  cursor: pointer;
  font-size: 1.3em;
  color: var(--darkGrenn100);
}

input {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid var(--darkGrenn100);
}
div#sex {
  display: flex;
  justify-content: space-evenly;
  width: 250px;
}
#btn-register {
  width: 100%;
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--darkGrenn100);
  cursor: pointer;
  background-color: var(--lightYellow);
  font-size: 1em;
  font-weight: bold;
}
#btn-register:hover {
  background-color: var(--Yellow);
  color: white;
  transition: 0.9s;
}

form div {
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
