header {
  width: 100%;
  border-bottom: 2px solid black;
  background-color: rgb(82, 82, 82);
  position: fixed;
  top: 0;
  padding-bottom: 25px;
}

.container-logo {
  width: 290px;
  height: 90px;
  background-color: var(--green-2);
  margin: 15px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 4px solid var(--green-3);
  border-radius: 120px;
  color: var(--yellow-1);
  font-size: 1.6em;
  padding: 25px;
  letter-spacing: 4px;
  cursor: pointer;
}

.logo img {
  width: 70px;
  margin-left: -18px;
  margin-top: 7px;
}

.blackColor {
  color: black;
  font-weight: bolder;
  transition: .6s;
}

.blackColor:hover {
  text-shadow: 0px 0px 8px white;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


#tema {
  font-size: 2em;
}
